@charset "UTF-8";

/* Aparelho Deitado (landscape) */

body{
    background-color: green;
    background-image: url('../imagens/cev-landscape.jpg');
    background-size: cover;
    background-position: left bottom;
}