@charset "UTF-8";

/* Aparelho em pé (portrait) */

body{
    background-color: rgb(55, 117, 133);  
    background-image: url('../imagens/cev-portrait.jpg'); 
    background-size: cover; 
    background-position: bottom center;
}
