@charset "UTF-8";

/* Exercicio 01 de Flexbox */
*{
    margin: 0;
    padding: 0;
    list-style-type: none ;
    font-family: Arial;
    font-size: 1.2rem;
}
a {
    text-decoration: none;
    color: white;
}
.header{
    background-color:  black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.menu{
    display: flex;
}
.menu li{

    margin-left: 10px;
}
.menu li a {
    display: block;
    padding: 10px;
    background-color: tomato;
}
.menu li a:hover{
    background-color: rgb(80, 30, 21);
}

/* Exercicio 02 de Flexbox */

h1{
    text-align: center;
    font-size: 2em;
    margin-top: 80px;
    margin-bottom: 50px;
}
img{
    max-width: 100%;
    display: block;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}